###4核 16G
[client]
port = 3306  
socket = /var/lib/mysql/mysql.sock
[mysql]
no-auto-rehash
[mysqld]
user = mysql  
port = 3306  
socket = /var/lib/mysql/mysql.sock   
datadir=/var/lib/mysql
symbolic-links=0
wait_timeout = 240
interactive_timeout = 180
open_files_limit = 10240
back_log = 600 
max_connections = 3000
max_connect_errors = 6000 
max_allowed_packet = 32M
thread_cache_size = 300 
query_cache_size = 64M  
query_cache_limit = 4M  
tmp_table_size = 256M 
max_heap_table_size = 256M
expire_logs_days = 30
key_buffer_size = 256M 
read_buffer_size = 1M
read_rnd_buffer_size = 16M 
bulk_insert_buffer_size = 64M  
myisam_sort_buffer_size = 128M  
myisam_max_sort_file_size = 10G
myisam_recover 
skip-external-locking
skip-name-resolve  
lower_case_table_names = 1  
server-id = 1
innodb_additional_mem_pool_size = 16M 
innodb_buffer_pool_size = 2048M 
innodb_thread_concurrency = 8  
innodb_flush_log_at_trx_commit = 2  
innodb_lock_wait_timeout = 120  
innodb_file_per_table = 0  
[mysqldump]
quick  
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
